<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <description>Repository type</description>
        <param-name>repository.type</param-name>
        <param-value>MYSQL</param-value>
    </context-param>

    <context-param>
        <description>Database Connection URL</description>
        <param-name>database.class</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <context-param>
        <description>Database Connection URL</description>
        <param-name>database.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/contact?useSSL=false&amp;serverTimezone=UTC&amp;</param-value>
    </context-param>

    <context-param>
        <description>Database User</description>
        <param-name>database.user</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <description>Database Password</description>
        <param-name>database.password</param-name>
        <param-value>root</param-value>
    </context-param>
</web-app>
